* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg,#313F4A 0%  , #392D39 100%);
    
    
}
 img {
    max-width: 100%;
    height: auto;
    border-radius: 7px;
}
main {
    
    display:flex ;
  
    max-width: 1400px;
    height: 650px;
    background-color: #121318;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 20px;
    
}
.navbar-container {
    width: 180px;
    height: 600px;
    background-color: #15151D;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.navbar-title {
    display: flex;
    align-items: flex-start;
    flex: 1;
    color: #DAE5EB;
    position: relative;
    opacity: 90%
    
   
   
    
    
}
.navbar-title h2::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-color: #108CE4;
    border-radius: 50%; 
    z-index: -1;
    top: -5px;
    left: -5px;
    
}

.nav-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #86878B;
    gap: 20px;
    cursor: pointer;
    
}
.nav-header span {
    font-size: 18px;
}
.nav-header i {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
}
.nav-header :hover {
    transition: .5s all;
    color: #108CE4
}
.nav-icon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: #86878B;
    flex: 1;
    cursor: pointer;
}
.nav-icon :hover {
    transition: .5s all;
    color: #108CE4
}

.nav-icon i {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
}
.nav-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title h3 {
    font-size: 16px;
}
.nav-title button {
    border: 1px solid #108CE4;
    background-color: transparent;
    color: #108CE4;
    width: 22px;
    height: 22px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.nav-playlist {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #86878B;
    flex: 1;
    cursor: pointer;
}
.nav-playlist :hover {
    transition: .5s all;
    color: #108CE4
}
.nav-playlist i {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    margin-top: 10px;
}
.input-search {
    position: relative;
    max-width: 400px;
    height: 25px;
   padding: 20px 0;
   
}
.input-search input {
    width: 290px;
    height: 32px;
    border-radius: 10px;
    background-color: #1B1B25;
    color: #DAE5EB;
    text-align: left;
    padding-left: 40px;
    border: none;
    outline: none;
    
}
.input-search i {
    color: #2F3035;
    font-size: 18px;
    margin: 7px;
    position: absolute;
    left: 0;
    right: 0;
    
}
.recently-plays {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    gap: 20px;
    padding: 18px;
}
.recently-container {
    display: flex;
    flex: 1;
}
.recently-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: auto;
    color: #DAE5EB ;
}
.recently-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    gap: 10px;
}
.recently-item img {
    width: 100px;
    height: auto;
}
.recently-item h3 {
    padding: 5px;
    font-size: 15px;
    color: #DAE5EB ;
}
.recently-item span {
    font-size: 13px;
    color: #86878B;
}
.trending {
    width: 100%;
   display: flex;
    align-items: center;  
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    
}
.trending-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.trending-title   {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: #DAE5EB ;
}
.trending-item {
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.trending-item h3 {
    color:#DAE5EB ;
}
.trending-item span {
    color: #86878B;
    display: flex;
}

.trending-item img {
    width: 50px;
    height: auto;
} 
.trending-icon {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    justify-content: center;
    gap: 15px;
 
}

.trending-icon i {
    color: #DAE5EB;
    font-size: 20px;
}
.trending-icon span {
    color: #86878B;
}
.playlist-container {
    width: 100%;
    height: auto;
    display: flex ;
    justify-content:space-between ;
    align-items: center;  
}
.playlist-item  {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
.playlist-item h3 {
    color: #DAE5EB;
}
.playlist-item span {
    color: #86878B;
}
div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.playlist-item img {
    width: 100px;
}
.footer {

    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
   
}
.footer-icon i {
    font-size: 20px;
    background-color: #12121A;
    color: #DAE5EB;
}